<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Playbook Home</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/StyleSheet.css') }}"
    />
  </head>
  <body>
  
    <!--Log in method-->
          <form action="" method="post">
            <input type="text" placeholder="Email" name="email" value="{{
              request.form.email }}">
             <input type="password" placeholder="Password" name="password" value="{{
              request.form.password }}">
            <input class="btn btn-success" type="submit" value="Login">
          </form>
    <!--THIS IS THE INITIAL PAGE ONE LOADS INTO WHEN ACCESSING PLAYBOOK-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!--This creates the background beautification-->
    <header class="page-header header container-fluid"></header>
    <script>
      $(document).ready(function () {
        $(".header").height($(window).height());
      });
    </script>

    <!--Intro to our webpage-->
    <div class="description">
      <h1>Welcome to the Playbook!</h1>
      <h2>Helping you call the next play</h2>
      <p>
        Our mission is to provide you a customizable dashboard so that you can
        keep track of you favorite players and teams. Our user friendly design
        allows for quick customization and easily accessible information on any
        player or team you desire in this age in ever-increasing speed. We are
        COMPLETELY FREE, so there is no catch on signing up to staying up to
        date and making important game-day decisions on all of you sportsbook
        deals.
      </p>
    </div>
  </body>
</html>
